# Virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables / secrets
.env

# Local uploads / data
uploads/

# VS Code / IDE
.vscode/
.idea/

# macOS
.DS_Store

# Docker
*.log
